In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv("ipl.csv")
data.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76014 entries, 0 to 76013
Data columns (total 15 columns):
mid               76014 non-null int64
date              76014 non-null object
venue             76014 non-null object
bat_team          76014 non-null object
bowl_team         76014 non-null object
batsman           76014 non-null object
bowler            76014 non-null object
runs              76014 non-null int64
wickets           76014 non-null int64
overs             76014 non-null float64
runs_last_5       76014 non-null int64
wickets_last_5    76014 non-null int64
striker           76014 non-null int64
non-striker       76014 non-null int64
total             76014 non-null int64
dtypes: float64(1), int64(8), object(6)
memory usage: 8.7+ MB

In [4]:
data.tail()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
76009,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,121,7,19.2,40,0,40,12,129
76010,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,127,7,19.3,46,0,46,12,129
76011,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,128,7,19.4,47,0,47,12,129
76012,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,MG Johnson,DT Christian,129,7,19.5,48,0,47,13,129
76013,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,129,8,19.6,47,1,47,13,129

In [5]:
X = data.iloc[:,7:14]
y = data.iloc[:,14]
X.tail()

       runs  wickets  overs  runs_last_5  wickets_last_5  striker  non-striker
76009   121        7   19.2           40               0       40           12
76010   127        7   19.3           46               0       46           12
76011   128        7   19.4           47               0       47           12
76012   129        7   19.5           48               0       47           13
76013   129        8   19.6           47               1       47           13

In [6]:
y.head()

0    222
1    222
2    222
3    222
4    222
Name: total, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 10)

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
from sklearn.linear_model import LinearRegression
linearRegressionModel = LinearRegression()
linearRegressionModel.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
prediction = linearRegressionModel.predict(X_test)

In [11]:
from sklearn import metrics

In [12]:
MSE=metrics.mean_squared_error(y_test,prediction)
RMSE=np.sqrt(MSE)
print("Root Mean Squared Error is",RMSE)

Root Mean Squared Error is 20.704362426196464

In [13]:
#yp = linearRegressionModel.predict(X_test[10,:])
#print(yp)
prediction = pd.DataFrame(prediction)
prediction.head()

            0
0  173.073422
1  137.051676
2  148.681892
3  170.644597
4  179.247272

In [14]:
from sklearn import metrics
score = linearRegressionModel.score(X_test,y_test)
print("R square value:" , score)

R square value: 0.5032592187239218

In [15]:
y_test.tail()

72316    160
74619    138
21993    140
55793    177
59794    226
Name: total, dtype: int64

In [16]:
prediction.tail()

                0
15198  166.413885
15199  147.745047
15200  142.193951
15201  170.008074
15202  195.577263

In [17]:
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor(n_estimators=100,max_features=None)
reg.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [18]:
y_pred = reg.predict(X_test)

In [19]:
MSE1=metrics.mean_squared_error(y_test,y_pred)
RMSE1=np.sqrt(MSE1)
print("Root Mean Squared Error is",RMSE)

Root Mean Squared Error is 20.704362426196464

In [20]:
score = reg.score(X_test,y_test)
print("R square value:" , score)

R square value: 0.6871627565800905

In [24]:
x = pd.DataFrame(X_train)
x.head()

          0         1         2         3         4         5         6
0  1.579007  0.293242  0.974884  0.321921  0.835346 -1.142450 -0.727695
1 -1.038548 -1.197177 -1.119238 -0.615857 -1.064363 -0.594962 -0.171567
2 -1.427091 -0.203564 -1.465374 -1.888556  0.835346 -1.042907 -0.820383
3 -0.036515  0.293242 -0.080831  0.388905  0.835346 -0.445647 -0.635007
4  0.352028 -0.203564  0.628748  0.790810 -1.064363  0.151612  0.662625

In [25]:
y = pd.DataFrame(y_train)
y.head()

       total
29409    185
56123    166
13585    161
53077    142
61653    180